#
#####################################################################
#                                                                   #
#   Displays and background                                         #
#                                                                   #
#####################################################################
#
#           <startup-id>        <command>
#
exec_always --no-startup-id     xrandr --output DisplayPort-1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DisplayPort-0 --off --output DVI-0 --off --output HDMI-0 --off
exec_always                     i3-msg workspace "Chrome"
exec_always --no-startup-id     hsetroot -solid "#AAAAAA"
exec_always --no-startup-id     feh --bg-fill ~/.config/wallpapers/japan-park.jpg
#
#####################################################################
#                                                                   #
#   Borders and fonts                                               #
#                                                                   #
#####################################################################
#
#                               <value>
#
default_border                  pixel 2
default_floating_border         pixel 4
hide_edge_borders               both
#
#####################################################################
#                                                                   #
# Theme                                                             #
#                                                                   #
#####################################################################
#
#                       border  backgr. text    indicator
#
client.focused          #0D0D0D #666666 #ffffff #dddddd
client.focused_inactive #000000 #666666 #888888 #292d2e
client.unfocused        #0D0D0D #666666 #888888 #292d2e
client.urgent           #2f343a #666666 #ffffff #900000
client.background               #AAAAAA
