#
#####################################################################
#                                                                   #
#   Keybindings                                                     #
#                                                                   #
#####################################################################
#
#       <keys>                    <command>
#
bindsym $mod+q                    kill
bindsym $mod+Return               exec $open_app

bindsym $mod+s                    split h; exec $open_app_split;
bindsym $mod+Shift+s              split v; exec $open_app_split;

bindsym $mod+Shift+Left           move left
bindsym $mod+Shift+Down           move down
bindsym $mod+Shift+Up             move up
bindsym $mod+Shift+Right          move right
bindsym $mod+Shift+Return         fullscreen toggle

bindsym $mod+Ctrl+Left            resize grow left $resize; resize shrink right $resize;
bindsym $mod+Ctrl+Right           resize grow right $resize; resize shrink left $resize;

bindsym $mod+Ctrl+Shift+Left      move workspace prev; workspace prev
bindsym $mod+Ctrl+Shift+Right     move workspace next; workspace next
bindsym $mod+Left                 workspace prev
bindsym $mod+Right                workspace next

bindsym $mod+r                    exec ~/.xsessionrc; reload
bindsym $mod+Shift+r              exec ~/.xsessionrc; restart
bindsym $mod+Shift+q              exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

bindsym Print                     exec gnome-screenshot -i -d 1
bindsym $mod+p                    exec --no-startup-id node ./scripts/switch-displays.js

bindsym $mod+Shift+i              exec xprop -id `xdotool getactivewindow` > ~/.xprop
