#
#####################################################################
#                                                                   #
#   Startup commands                                                #
#                                                                   #
#####################################################################
#
#           <startup-id>        <command>
#
exec_always                     pulseaudio
exec_always --no-startup-id     compton --config ~/.config/compton/compton.config
exec_always --no-startup-id     /opt/urserver/urserver-start --no-manager --no-notification
exec_always --no-startup-id     "rofi -modi drun -show drun -run-command 'i3-msg workspace {cmd}; exec {cmd}'"
