#
#####################################################################
#                                                                   #
#   Startup commands                                                #
#                                                                   #
#####################################################################
#
#           <startup-id>        <command>
#
exec        --no-startup-id     ibus-daemon
exec        --no-startup-id     compton --config ~/.config/compton/compton.config
exec        --no-startup-id     /opt/urserver/urserver-start --no-manager --no-notification
exec        --no-startup-id     i3-msg 'workspace 1; rename workspace 1 to "1: Firefox"'
exec        --no-startup-id     firefox
exec        --no-startup-id     ~/.config/polybar/start.sh
exec        --no-startup-id     /usr/lib/mate-polkit/polkit-mate-authentication-agent-1
exec        --no-startup-id     redshift
