#
#####################################################################
#                                                                   #
#   Variables                                                       #
#                                                                   #
#####################################################################
#
set $open_app "rofi -modi drun -show drun -run-command 'i3-msg workspace {cmd}; exec {cmd}'"
set $mod Mod4
floating_modifier $mod
