#
#####################################################################
#                                                                   #
#   Variables                                                       #
#                                                                   #
#####################################################################
#
set $open_app "rofi -theme .config/rofi/theme.rasi -show drun -lines 9 -run-command 'i3-msg workspace {cmd}; exec {cmd}'"
set $open_app_split "rofi -theme .config/rofi/theme.rasi -show drun -lines 9"
set $mod Mod4
set $resize 10 px or 5 ppt
floating_modifier $mod
focus_on_window_activation focus
