fading = true;
fade-delta = 4
fade-in-step = 0.04;
fade-out-step = 0.005;
fade-exclude = [
    "I3_FLOATING_WINDOW@:c",
    "name = 'rofi'",
    "! name~=''",
    "name = 'Firefox'"
]

backend = "glx";

no-fading-openclose = false
glx-no-stencil = true

wintypes:
{
  tooltip = { fade = false; };
  menu = { fade = false; };
  dropdown_menu = { fade = false; };
  popup_menu =  { fade = false; };
};


refresh-rate = 60;
vsync = "opengl-swc"
